/obj/Debug/net35/MoreSkillPoints.AssemblyInfo.cs
/obj/Debug/net35/MoreSkillPoints.AssemblyInfoInputs.cache
/obj/Debug/net35/MoreSkillPoints.assets.cache
/obj/Debug/net35/MoreSkillPoints.csproj.AssemblyReference.cache
/obj/Debug/net35/MoreSkillPoints.csproj.CopyComplete
/obj/Debug/net35/MoreSkillPoints.csproj.CoreCompileInputs.cache
/obj/Debug/net35/MoreSkillPoints.csproj.FileListAbsolute.txt
/obj/Debug/net35/MoreSkillPoints.dll
/obj/Debug/net35/MoreSkillPoints.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net35/MoreSkillPoints.pdb
/obj/Debug/net35/PluginInfo.cs
/obj/MoreSkillPoints.csproj.nuget.dgspec.json
/obj/MoreSkillPoints.csproj.nuget.g.props
/obj/MoreSkillPoints.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.restore.info
/bin/Debug/net35/Assembly-CSharp.dll
/bin/Debug/net35/MoreSkillPoints.dll
/bin/Debug/net35/MoreSkillPoints.pdb
/MoreSkillPoints.sln.DotSettings.user
/NuGet.Config
/MoreSkillPoints.sln
/.idea/.idea.MoreSkillPoints/.idea/encodings.xml
/.idea/.idea.MoreSkillPoints/.idea/indexLayout.xml
/.idea/.idea.MoreSkillPoints/.idea/prettier.xml
/.idea/.idea.MoreSkillPoints/.idea/vcs.xml
